# Environment variables
.env
ENV/
env/

# Virtual environment
.venv/
venv/

# Distribution files
dist/
build/

# Python files
*.egg-info/
*.egg

# Node.js files
node_modules/

# IDE files
.idea/
.vscode/

# Swap files
*.swp
*.swo

# macOS files
.DS_Store

# Jupyter notebook files
.ipynb_checkpoints
__pycache__/

# Output & input files
output/
input/
media/tmp/
*.zip

.ruff_cache/